In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/home/rnslucas/anaconda3/envs/pyfinance/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
from datetime import datetime

In [4]:
# Demonstrating the order of args when working with datetime

my_year = 2020
my_month = 2
my_day = 1
my_hour = 8
my_minute = 45
my_second = 15

In [7]:
# date - 1-Feb-2020
my_date = datetime(my_year, my_month, my_day)
my_date

datetime.datetime(2020, 2, 1, 0, 0)

In [9]:
# date & time
my_date_time = datetime(my_year, my_month, my_day, 
                        my_hour, my_minute, my_second)
my_date_time

datetime.datetime(2020, 2, 1, 8, 45, 15)

In [10]:
# Using the datetime objects
my_date.day

1

In [18]:
my_date_time.hour

8

### Pandas with Datetime index

In [19]:
# Create exampl datetime list/array
first_two = [datetime(2016,1,1), datetime(2016,1,2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [20]:
# Convert it to an index
dt_ind = pd.DatetimeIndex(first_two)
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [22]:
# Create some ramdom data
data = np.random.randn(2,2)
print(data)

cols = ['A','B']

[[ 0.28186455  0.06651934]
 [-0.53223092 -0.98426595]]

In [23]:
# Create a dataframe
df = pd.DataFrame(data, dt_ind,cols)
df

                   A         B
2016-01-01  0.281865  0.066519
2016-01-02 -0.532231 -0.984266

In [24]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [25]:
# Latest date location
df.index.argmax()

1

In [26]:
# Earliest date time location
df.index.argmin()

0

In [27]:
df.index.min()

Timestamp('2016-01-01 00:00:00')